.order > * {
	font-family: "Noto Sans";
}

.order {
	background-color: var(--order-bg-color);
	color: var(--dark-bg-color);
	display: flex;
	flex-direction: column;
	margin: 1em;
}

.order-nest4-cart-container {
	display: flex;
	justify-content: end;
	flex-direction: row;
	margin-bottom: 1em;
}

.order-cartBTN {
	background-color: var(--light-color);
	width: 4em;
	height: 4em;
	border-radius: 0.3em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: none;
	cursor: pointer;
	margin-bottom: 3em;
	transition: all;
	transition-duration: 1s;
}

.order-cartBTN:hover {
	border: 3px solid var(--plusMinusBtn-bg-color)
}

.order-cart {
	width: 2.5em;
	height: 2.5em;
}

.order-item {
	display: flex;
	flex-direction: column;
	
	
}

.order-item-container {
	display: flex;
	flex-direction: column;
	
}

.order-btn-container {
	display: flex;
}

.order-item-container:not(:last-of-type) {
	border-bottom: 1px dotted var(--accessoryBTN-bg-color);
}

.order-item-dots {
	flex-grow: 1;
    margin: 0 0.8em;
	border-bottom: 2px dotted var(--dark-bg-color);
}

.order-item-name-container .order-item-name, .order-item-name-container .order-item-subtotal {
	flex-shrink: 0;
    font-weight: 900;
	font-size: 1.3rem;
}

.order-item-name-container {
	display: flex;
	margin-bottom: 0.5em;
}

.order-item-quantity, .order-tax {
	font-weight: bold;
}

.order-plusBtn, .order-minusBtn {
	height: 1.5em;
	width: 1.5em;
	background-color: var(--plusMinusBtn-bg-color);
	border-style: none;
	border-radius: 50%;
	font-size: 1rem;
	color: var(--accessoryBTN-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all;
	transition-duration: 0.5s;
	cursor: pointer;
}

.order-plusBtn:hover, .order-minusBtn:hover {
	background-color: var(--dark-bg-color);
	color:white;
}

.order-plusBtn {
	margin: 0 0.5em 1em 0;
}
.order-minusBtn {
	margin:0 0 1em 0.5em;
}

.order-payment-container {
	display:flex;
	margin: 5em 0 1.5em 0;
	height: 5em;
	border-radius: 0.3em;
	align-items: center;
	justify-content: space-between;
	background-color: var(--plusMinusBtn-bg-color);
	padding: 0 1em 0 1em;

}

.order-total-container {
	display: flex;
	flex-direction: column;
}

.order-total {
	margin-bottom: 0.3em;
	font-weight: 900;
	font-size: 1.3rem;
}

.order-price {
	font-weight: 900;
	font-size: 1.8rem;
}

.paymentBtn {
	display:flex;
	height: 4em;
	border-radius: 0.3em;
	align-items: center;
	justify-content: center;
	background-color: var(--dark-bg-color);
	color: var(--order-bg-color);
	font-weight: 900;
	font-size: 1.4rem;
	cursor: pointer;
	border-style: none;
	transition: border 1s;
	
}

.paymentBtn:hover {
	border: 0.4em solid var(--accessoryBTN-bg-color);
	
}

.hidden {
	display: none;
}